body {
  margin: 0px;
  background: #e5e5e5;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  cursor:url(images/cursorDefault.cur),auto;
}
#panel{
  background: #ffffff;
  border: 2px solid #000000;
  padding: 10px;
  vertical-align:top;
}